<div class="body">
    <div class="navbar">
        <h1>Agenda digital</h1>
    </div>

    <div class="menu-lateral">
        <button mat-icon-button class="botoes-menu-lateral">
            <mat-icon>calendar_month</mat-icon>
        </button>
        <button class="botoes-menu-lateral">
            <mat-icon>person</mat-icon>
        </button>
        <button class="botoes-menu-lateral">
            <mat-icon>person_add</mat-icon>
        </button>
        <button class="botao-sair">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>