<div class="layout">
    <app-menus></app-menus>
    <div class="container-lateral">
        <div class="calendario">
            <div class="container-meses">
                <button class="navegacao-meses" (click)="voltarMes()">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <h1>{{ mesAtualFormatado }}</h1>
                <button class="navegacao-meses" (click)="avancarMes()">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>

            <ul class="nome-dias">
                <li class="formata-nomes">D</li>
                <li class="formata-nomes">S</li>
                <li class="formata-nomes">T</li>
                <li class="formata-nomes">Q</li>
                <li class="formata-nomes">Q</li>
                <li class="formata-nomes">S</li>
                <li class="formata-nomes">S</li>
            </ul>

            <div *ngFor="let semana of semanas; let i = index">
                <button class="semanas" [ngClass]="{ 'selecionada': semanaSelecionada === i }"
                    (click)="selecionarSemana(i)">
                    <ul style="display: flex; list-style-type: none; padding: 0; margin: 0;">
                        <li *ngFor="let dia of semana" [ngClass]="{ 'dias': dia !== 0 }" [style.width.px]="30"
                            [style.height.px]="30" [style.margin.px]="5">
                            {{ dia === 0 ? '' : dia }}
                        </li>
                    </ul>
                </button>
            </div>
        </div>
        <div class="botao-agendamento">
            <button class="btn-agendar" (click)="abrirModal()">Agendar</button>
        </div>
    </div>

    <div class="container-agenda">
        <table class="tabela-agenda-semanal">
            <div class="dia-semana">
                <h1>segunda</h1>
            </div>
            <div class="dia-semana">
                <h1>terca</h1>
            </div>
            <div class="dia-semana">
                <h1>quarta</h1>
            </div>
            <div class="dia-semana">
                <h1>quinta</h1>
            </div>
            <div class="dia-semana">
                <h1>sexta</h1>
            </div>  
            <div class="dia-semana">
                <h1>sabado</h1>
            </div>
            <div class="dia-semana">
                <h1>domingo</h1>
            </div>
        </table>
    </div>

    <app-modal-agendar *ngIf="modalAberto"></app-modal-agendar>

</div>